* {
  font-family: Garamond, serif;
}

body {
  margin: 0;
  padding: auto;
  background-color: white;
}

header {
  background-color: #841617;
  color: white;
  text.size: 30pt
}

div {
  padding:
  margin:
}

p {

}

h1 {

}

h2 {

}

h3 {

}
