<!DOCTYPE html>
<html lang="en-US">
<head>
   <meta charset="utf-8" />
   <title>OU Lost and Found</title>
   <link href="../static/lfStyle.css" rel="stylesheet" />
</head>
<!-- -->

	<header>   	
    </header>
	<h1>
	<nav class="navigation" id="mainLinks">
		    	<ul>
			    	<li><a href="browsing.html">Browse Items</a></li>
					<li><a href="lfsubmitlostitem.html">Report an Item</a></li>
			    	<li><a href="lfaboutUs.html">About Us</a></li>
	    		</ul>
	    	</nav>
		</h1>

<body>
	<!-- create empty "tokens" unordered list for search terms -->
	<ul id="tokens"> </ul>
        
	<!--      Search box     -->
	<br>
	<br>
	<br>
	<br>
	<div class="search-box" id="search-box">
		<div class="magglass">
			<img src="../static/images/search.svg" alt="Magnifying glass image">
		</div>
		<input id="search-txt" type="text" name="" placeholder="Type to search">
		<a class="search-btn" href="#">
			<img src="../static/images/submit.svg" alt="submit" class="button" onclick="parseText(); showResults();"> 
			<!-- we will move showResults() from onclick to being called in parseText() when we get data coming from backend-->
		</a>
	</div>

	<!-- for now, parse and print search terms on click of button -->
	<script>
		//var output = '';
		//for(var i=0; i<tokens.length; i++)
		//{
		//	output += '<li>' +tokens[i] + '</li>'
		//}
		//document.getElementById('tokens').innerHTML = output;

		function parseText()
		{
			var search_text = document.getElementById("search-txt").value;
			//var formData = 
			var searchterm = "";
			var searchword = "";
			const words = search_text.split(' ');
			
			var Obj = {};  //creates an empyt object. note not yet a JSON object
			
			for(var i=0; i<words.length; i++)
			{
				searchterm = "search_term_".concat(i.toString());	// need i.tostring() ?
				searchword = words[i].toString();
				var tempObj = {}; //creates an empty object, which will be added to Obj
				tempObj[searchterm] = searchword; //adds search_term_i : searchword to the tempObj
				Obj = {...Obj, ...tempObj} //concat tempObj to Obj
			}
			

			//window.alert(jsonObjtxt);
			//jsonObj = JSON.parse(jsonObjtxt);
			//window.alert(JSON.stringify(jsonObjtxt));

			// send POST request
			sendPost(JSON.stringify(Obj)); //convert Obj to JSON string and send to sendPost method

			// display results
			// showResults() // should take in results of post request
		}

		function sendPost(jsonString)
		{
			var xhr = new XMLHttpRequest();
			xhr.open("POST", "search", true);
			xhr.setRequestHeader('Content-Type', 'application/json');
			xhr.send(jsonString);
			//window.alert(xhr.response) //Testing for pulling data from the endpoint.
		}
		
		function showResults()
		{
			var result = document.createElement("p");
			result.id = "text-results"
			var someText = document.createTextNode("This will be some text results");
			result.appendChild(someText);
			var search_results = document.getElementById("search-box");
			search_results.appendChild(result);
		}

		

	</script>
	
	<section id="main">
		<p>Please contact support for additional help finding your item <br></p>

		
        <hr>
		<img src="placeholder.png" alt="Welcome to OU Lost and Found" />
		<p>For now we can use this home page to test google cloud platform and
            DBMS functionality. Later these functionalities will be located to the 
            appropriate page. </p>
	</section>  
	
	
   
</body>

<footer>
	<p>OU Lost and Found &#8226; OU Lost and Found Address</p>
</footer>

</html>
