<!DOCTYPE html>
<html lang="en-US">
<head>
   <meta charset="utf-8" />
   <title>OU Lost and Found</title>
   <link href="../static/lfStyle.css" rel="stylesheet" />
</head>

  <body>
	<header>   	
    </header>
	<h1>
	<nav class="navigation" id="mainLinks">
		    	<ul>
			    	<li><a href="browsing.html">Browse Items</a></li>
					<li><a href="lfsubmitlostitem.html">Report an Item</a></li>
			    	<li><a href="lfaboutUs.html">About Us</a></li>
	    		</ul>
	    	</nav>
		</h1>
  <section id="main">
		<br>
    <div>
      <h1> About US </h1>
      <p>
        This is the unofficial Lost & Found
        management system for the University of Oklahoma. This digital system for
        storing and searching lost and found items has been developed by members
        of the Class of 2021 Computer Science Capstone class. We hope to make
        finding lost items on campus quick and easy for students
      </p>
    </div>
    <div>
      <h1> FAQs </h1>
        <h3><span "font-weight:bold"> Q: </span> How can I find my lost items? </h3>
        <h3>
          <span "font-weight:bold"> A: </span> Try searching by item name or
          description (airpod, textbook, etc.) or using our search filters
          (date lost, location lost, color, etc.).
        </h3>
        <h3><span "font-weight:bold"> Q: </span> Where do I go to pick up my items? </h3>
        <h3><span "font-weight:bold"> A: </span>
          The item posting will list the drop off location.
        </h3>

    </div>
    <div>
      <h1> Contact Us </h1>
      <h3> The primary Lost & Found center on campus is the
        Facilities Management "Customer Service area" at 160 Felgar Street </h3>
      <h3> (405)325-3060 </h3>
    </div>

  </section> 

  </body>
</html>
