<!DOCTYPE html>
<html lang="en-US">
<head>
   <meta charset="utf-8" />
   <title>OU Lost and Found</title>
   <link href="{{ url_for('static', filename='LostAndFound.css') }}" rel="stylesheet" />
</head>

<body class = "loginBod">
	<div class="passContainer">
		<header class = "loginHead">   	
		</header>
		<br>
		<input type="text" id="username" name="username" placeholder="Username">
		<input type="password" id="password" name="Password" placeholder="Password">
		<a href="browsing.html"><button type="button">Login</button></a>
	</div>
</body>