<!DOCTYPE html>
<html lang="en-US">
<head>
   <meta charset="utf-8" />
   <title>OU Lost and Found</title>
   <link href="../static/lfStyle.css" rel="stylesheet" />
</head>

<body>
	<header>   	
    </header>
	<h1>
	<nav class="navigation" id="mainLinks">
		    	<ul>
			    	<li><a href="browsing.html">Browse Items</a></li>
					<li><a href="lfsubmitlostitem.html">Report an Item</a></li>
			    	<li><a href="lfaboutUs.html">About Us</a></li>
	    		</ul>
	    	</nav>
		</h1>
	
	<section id="main">
		<img src="placeholder.png" alt="Submit Found Item" />
		<p>Submit a new item. Note that some of these elements will be updated, but this will serve as the bare
			minimum to test database compatibility.
		</p>
	</section>  

	<div class="container">
		<form action="lfsubmitlostitem.html">
		  <div class="row">
			<div class="col-25">
			  <label for="image">Image</label>
			</div>
			<div class="col-75">
			  <input type="text" id="image" name="image" placeholder="Image of the item...">
			</div>
		  </div>
		  <div class="row">
			<div class="col-25">
			  <label for="date">Date</label>
			</div>
			<div class="col-75">
			  <input type="text" id="date" name="date" placeholder="Enter datetime value">
			</div>
		  </div>
		  <div class="row">
			<div class="col-25">
			  <label for="Description">Description</label>
			</div>
			<div class="col-75">
			  <textarea id="description" name="description" placeholder="Written description of the item" style="height:200px"></textarea>
			</div>
		  </div>
		  <div class="row">
			<div class="col-25">
			  <label for="Tags">Tags</label>
			</div>
			<div class="col-75">
			  <input type="checkbox" id="tag1" name="tag1" placeholder="Item tags">
			  <label for="tag1"> Valuable</label><br>
			  <input type="checkbox" id="tag2" name="tag2" placeholder="Item tags">
			  <label for="tag2"> Electronic</label><br>
			  <input type="checkbox" id="tag3" name="tag3" placeholder="Item tags">
			  <label for="tag3"> Collectible</label><br>
			  <input type="checkbox" id="tag4" name="tag4" placeholder="Item tags">
			  <label for="tag4"> Textbook</label><br>
			  <input type="checkbox" id="tag5" name="tag5" placeholder="Item tags">
			  <label for="tag5"> Backpack</label><br>
			</div>
		  </div>
		  <div class="row">
			<input type="submit" value="Submit" onclick="send()">
		  </div>
		  <script>
		  function send(){
		  var xhr = new XMLHttpRequest();
			xhr.open("POST", "submit", true);
			xhr.setRequestHeader('Content-Type', 'application/json');
			xhr.send(JSON.stringify({
			"datetime": document.getElementById("date").value,
			"description": document.getElementById("description").value,
			"tag1": document.getElementById("tag1").checked,
			"tag2": document.getElementById("tag2").checked,
			"tag3": document.getElementById("tag3").checked,
			"tag4": document.getElementById("tag4").checked,
			"tag5": document.getElementById("tag5").checked
			}));
		  }
		  </script>
		</form>
	</div>
	
	<footer>
		<p>OU Lost and Found &#8226; OU Lost and Found Address</p>
	</footer>
   
</body>
</html>